body{
    background-color: #777;   
}
/*banner*/
.banner-img{
    background-image: url("./img/18-08-21-Copa-1280x720.webp");
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.banner-tittle{
    color: white;
}
/*cards*/
.navbar{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,49,49,1) 100%);
}
.card-container{
    width: 100%;
    flex-wrap: wrap;
}
/*footer*/
.IMG-foot{
    margin: 15px;
}
